<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">My Monster</div>
            </div>
            <div class="right">
                <div id="HP">40 HP</div>
                <img src="assets/img/grass.png" class="icon energy">
            </div>
        </header>
        <figure id="art">
            <img src="assets/img/bulb.png">
            <figcaption>N°025 Monster</figcaption>
        </figure>
        <div id="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="cost">
                        <img src="assets/img/grass.png" class="icon energy">
                        <img src="assets/img/grass.png" class="icon energy">
                    </div>
                    <div class="name">Geo Impact</div>
                    <div class="damage">60</div>
                </div>
            </div>
            <div class="description">
                This is a long description of a monster capacity
                Probably something to do with grass.
            </div>
        </div>
    </div>
</div>